@{
    ViewBag.Title = "Home Page";
}


<div class="col-md-12">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="Aqui va el action link hacia empleados">
                        <img src="https://www.ecestaticos.com/imagestatic/clipping/6a8/0bc/6a80bcb4d03b789e20f74422953acde1/tipos-de-contrato-laborales-del-indefinido-al-temporal-pasando-por-las-practicas.jpg?mtime=1474366621" height="600" class="d-block w-100" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="font-weight: bold">Entrada de empleados</h3>
                        <h6 style="color: black;font-weight: bold">Accede al módulo dónde puedes registrar los empleados que entran<br> a la empresa por primera vez</h6>

                    </div>
                </div>
                <div class="carousel-item">
                    <a href="Aqui va el action link hacia salida empleados">
                        <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rrGMqT-nzjg1w3sak/videoblocks-sad-employee-packing-her-belongings-and-leaving-the-office-after-being-fired-employment-and-crisis-concept_r4utckzhg_thumbnail-full07.png" height="600" class="d-block w-100" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="font-weight: bold; color: white">Salida de empleados</h3>
                        <h6 style="color: white;font-weight: bold">
                            Registra cuando un empleado<br>
                            sale de la empresa por cualquier motivo
                        </h6>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://www.minervatel.com/images/bgvideo.jpg" height="600" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="font-weight: bold">Empleados activos</h3>
                        <h6 style="color: black;font-weight: bold">
                            Consulta los empleados que se encuentran laborando para la empresa
                        </h6>

                    </div>
                </div>

                <div class="carousel-item">
                    <!--Aca va otro actionlink-->
                    <img src="https://asesoriaarba.es/wp-content/uploads/2018/11/Calculo-retencion-Nomina-Ejemplo-1-Asesoria-Arba.jpg" height="600" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="font-weight: bold">Nomina</h3>
                        <h6 style="color: black;font-weight: bold">
                            Consulta el monto total de las nóminas de la empresa
                        </h6>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>







<div class="contenedorinfo">
    <br />
    <br />
    <h3 style="color: white">Como empleado de recursos humanos tienes que tener ciertas pautas</h3>
    <p class="pcontinfo">Esta aplicación gestiona. Al utilizar esta aplicación tienes el control del sistema completo de RRHH, por lo que es recomendable lo siguiente:</p>


    <br>

    <div class="card">
        <div class="card-body">
            <img style="display:block;width:10rem;margin:auto;" src="https://i.kym-cdn.com/photos/images/original/000/925/410/4cc.jpg">
            <br>
            <p class="card-text" style="color:black">Ten en cuenta que estás tratando con el sistema de recursos humanos, cualquier error que no se corrige a tiempo puede traer consecuencias</p>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img style="display:block;width:8rem;margin:auto;" src="http://files.softicons.com/download/system-icons/yamilk-icon-set-by-gurato/png/512/Private.png">
            <br>
            <p class="card-text" style="color:black">La información contenida en el sistema es confidencial, no compartas esta información con usuarios no autorizados, te puede traer consecuencias</p>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img style="display:block;width:8rem;margin:auto;" src="https://cdn4.iconfinder.com/data/icons/gdpr-data-privacy-policy/128/gdpr-11-512.png">
            <br>
            <p class="card-text" style="color:black">Mantén tus credenciales y tu ordenador seguros, alguien podría utilizar tus credenciales con fines fraudulentos</p>

        </div>
    </div>







</div>






